

@{
    ViewData["Title"] = "Orders";
}
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Models.Order>

<h1>Orders</h1>


<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Index</th>
            <th scope="col">Quantity</th>
            <th scope="col">Delivery_Status</th>
            <th scope="col">CurrentPaymentID</th>
            <th scope="col">Order_Date</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>@item.Quantity</td>
                <td>@item.Delivery_Status</td>
                <td>@item.CurrentPaymentID</td>
                <td>@item.Order_Date</td>
                <td>@Html.ActionLink("Update Order", "editOrder", @item, new { @class = "btn btn-danger" })</td>
                <td>@Html.ActionLink("Delete Order", "deleteOrders", new { ID = item.ID }, new { @class = "btn btn-danger" })</td>

            </tr>
        }
        <div class="custom-pagination">

            <ul class="pagination">

                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    <li class="@(i == Model.PageNumber ? "page-item active" : "page-item")">
                        <a class="page-link" href="@Url.Action("Orders", new { p = i })">@i</a>
                    </li>

                }

            </ul>
        </div>
    </tbody>
</table>












